@using GarageWebSite.Models.Classes
@model List<CarViewModel>


@foreach (var x in Model)
{
    var photos = string.Join(",", x.Photos.Select(photo => $"'{photo.PhotoUrl}'")); // Tüm fotoğraf URL'lerini virgülle birleştir

    <div class="car-item"
         data-name="@x.Car.Name"
         data-image="@x.Photos.First().PhotoUrl" // İlk fotoğrafı ana resim olarak al
         data-kilometre="@x.Car.Km KM"
         data-year="@x.Car.Year"
         data-motor="@x.Car.Power" // Motor gücünü doğrudan ekleyebilirsiniz
         data-fuel="@x.FuelTypeName"
         data-price="$@x.Car.Price"
         data-gallery="@photos" // Tüm fotoğrafları buraya ekle
         onclick="openOverlay('@x.Car.Name', '@x.Photos.First().PhotoUrl', 'Brand: @x.BrandName <br>KM: @x.Car.Km KM <br>Model Year: @x.Car.Year<br>Motor Volume: @x.Car.Power<br>Fuel Type: @x.FuelTypeName', '$@x.Car.Price', [@photos])">
        <img src="@x.Photos.First().PhotoUrl" alt="@x.Car.Name">
        <h3>@x.Car.Name</h3>
        <p class="price">Price: $@x.Car.Price</p>
    </div>
}
