@using GarageWebSite.Models.Classes
@model List<CarViewModel>


@foreach (var x in Model)
{
    var photos = string.Join(",", x.Photos.Select(photo => $"'{photo.PhotoUrl}'"));

    <div class="car-item"
         data-name="@x.Car.Name"
         data-image="@(x.Photos.FirstOrDefault() != null ? x.Photos.First().PhotoUrl : "default-image-url.jpg")"
         data-kilometre="@x.Car.Km KM"
         data-year="@x.Car.Year"
         data-fuel="@x.FuelTypeName"
         data-price="$@x.Car.Price"
         data-gallery="@String.Join(",", x.Photos.Select(p => p.PhotoUrl))"
         onclick="openOverlay('@x.Car.Name', '@(x.Photos.FirstOrDefault()?.PhotoUrl ?? "default-image-url.jpg")', 'Brand: @x.BrandName <br>KM: @x.Car.Km KM <br>Model Year: @x.Car.Year<br>Motor Volume: @x.Car.Power<br>Fuel Type: @x.FuelTypeName', '$@x.Car.Price', [@String.Join(",", x.Photos.Select(p => "'" + p.PhotoUrl + "'"))])">
        <img src="@(x.Photos.FirstOrDefault()?.PhotoUrl ?? "default-image-url.jpg")" alt="@x.Car.Name">
        <h3>@x.Car.Name</h3>
        <p class="price">Price: $@x.Car.Price</p>
    </div>
}
